<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ title }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--
    TODO: 折れ線グラフの追加
  -->
  <!-- <ion-card>
    <div><canvas #barChart3></canvas></div>
  </ion-card> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>週間の達成度(モック)</ion-card-title>
      <div><canvas #barChart4></canvas></div>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <div><canvas #allAchievementsPie></canvas></div>
  </ion-card>

  <ion-card *ngFor="let data of achievementPie">
    <canvas #pr_chart></canvas>
  </ion-card>
</ion-content>
