<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="editOrdinary()" icon-only="true" size="small">
        <ion-icon name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCreateOrdinaryModal($event)" icon-only="true" size="small">
        <ion-icon name="create-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-toolbar>
      <ion-segment [(ngModel)]="scene" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="everyday" checked>
          <ion-label>毎日</ion-label>
        </ion-segment-button>
        <ion-segment-button value="week">
          <ion-label>週一</ion-label>
        </ion-segment-button>
        <ion-segment-button value="weekday">
          <ion-label>曜日</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-toolbar>

  <div [ngSwitch]="scene">
    <div *ngSwitchCase="'everyday'">
      <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="true">
        <ng-container *ngFor="let ow of ordinariesWeekday">
          <ng-container *ngIf="ow.scene === 'everyday'">
            <ion-item>
              <ion-label> {{ ow.ordinary.name }} </ion-label>
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-reorder-group>
    </div>
    <div *ngSwitchCase="'week'">
      <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="true">
        <ng-container *ngFor="let ow of ordinariesWeekday">
          <ng-container *ngIf="ow.scene === 'week'">
            <ion-item>
              <ion-label> {{ ow.ordinary.name }} </ion-label>
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-reorder-group>
    </div>
    <div *ngSwitchCase="'weekday'">
      <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="true">
        <ng-container *ngFor="let ow of ordinariesWeekday">
          <ng-container *ngIf="ow.scene === 'weekday'">
            <ion-item>
              <ion-label> {{ ow.ordinary.name }} </ion-label>
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-reorder-group>
    </div>
  </div>
</ion-content>
