<ion-header [translucent]="true">
  <ion-toolbar>
    <div slot="start"></div>
    <div slot="end">
      <ion-fab-button (click)="toggleReorderGroup()" size="small" color="light" background-color="transparent">
        <ion-icon name="filter"></ion-icon>
      </ion-fab-button>
    </div>

    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-toolbar>
      <ion-segment [(ngModel)]="scene" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="everyday" checked>
          <ion-label>毎日</ion-label>
        </ion-segment-button>
        <ion-segment-button value="week">
          <ion-label>週一</ion-label>
        </ion-segment-button>
        <ion-segment-button value="weekday">
          <ion-label>曜日</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item>
      <ion-label position="floating">日常名</ion-label>
      <ion-input placeholder="歯を磨く" name="ordinaryName" [(ngModel)]="ordinary.name" required="true"></ion-input>
    </ion-item>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="3">
          <ion-list-header>
            <ion-label>種類</ion-label>
          </ion-list-header>
          <ion-list *ngFor="let weekday of weekdays">
            <ion-item>
              <ion-label>{{ weekday.name }}</ion-label>
              <ion-checkbox slot="start" [(ngModel)]="weekday.isChecked" name="weekdays"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="9">
          <ion-label>日常開始日</ion-label>
          <ion-datetime
            min="{{ now | date: 'yyyy-MM-dd' }}"
            max="2030-12-31"
            value="{{ now | date: 'yyyy-MM-dd' }}"
            name="startedOn"
            [(ngModel)]="usersOrdinary.startedOn"
          ></ion-datetime>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-buttons>
    <ion-button color="success" size="small" (click)="createOrdinary()"><ion-icon name="add"></ion-icon></ion-button>
  </ion-buttons>

  <div [ngSwitch]="scene">
    <div *ngSwitchCase="'everyday'">
      <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="true">
        <ng-container *ngFor="let ow of ordinariesWeekday">
          <ng-container *ngIf="ow.scene === 'everyday'">
            <ion-item>
              <ion-label> {{ ow.ordinary.name }} </ion-label>
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-reorder-group>
    </div>
    <div *ngSwitchCase="'week'">
      <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="true">
        <ng-container *ngFor="let ow of ordinariesWeekday">
          <ng-container *ngIf="ow.scene === 'week'">
            <ion-item>
              <ion-label> {{ ow.ordinary.name }} </ion-label>
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-reorder-group>
    </div>
    <div *ngSwitchCase="'weekday'">
      <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="true">
        <ng-container *ngFor="let ow of ordinariesWeekday">
          <ng-container *ngIf="ow.scene === 'weekday'">
            <ion-item>
              <ion-label> {{ ow.ordinary.name }} </ion-label>
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-reorder-group>
    </div>
  </div>
</ion-content>
